<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <nav class="navbar">
      <div class="container">
        <div class="container box box-nav border-blue title">
          <div class="nav navbar-nav ">
            <a class="navbar-brand nav-link headingName" href="/">DAILY JOURNAL</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="/contact">CONTACT</a></li>
            <li><a class="nav-link" href="/about">ABOUT</a></li>
          </ul>
        </div>
      </div>
      
    </nav>

  <body>
    <div class="container">
