<%- include('partials/header'); -%>

    <div class="box border-blue">
        <h1>Compose</h1>
    </div>

    <div class="box border-blue">
        <form action="/compose" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="postTitle" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="post">Post</label>
                <textarea class="form-control" name="postBody" rows="8" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
            <a class="btn btn-success" href="/" role="button">Cancel</a>
        </form>
    </div>
    

<%- include('partials/footer'); -%>