
<%- include('partials/header'); -%>
<div class="box border-green">
    <h1 >Contact</h1>
</div>

<div class="box border-green">
    <p> <%= contact %> </p>
</div>

<%- include('partials/footer'); -%>